<section id="reload" class="reload-app">
    <div class="reload-app-content">
        <!-- <h3 class="reload-descktop">RELOAD.. .</h3> -->
        <div class="meetuos">
            <h1 class="reload-mobile">RELOAD.. .</h1><br>
            <div>
                <p class="resume">Para a retomada dos eventos presenciais após a pandemia estamos preparando algumas novidades. Além dos eventos vamos promover mensalmente um podcast com convidados especiais. <font color="#FC4FF6">Fique ligado </font> 🤟</p>
                <a rel="noopener" target="_blank" href="https://www.sympla.com.br/tech-conecta__2175405"><button class="btn1">220 Entradas Disponíveis <img src="../../../assets/images/arrow-right.svg" alt=""></button></a>
            </div>
            <div>
                <div class="flex">
                    <img class="icons-box" src="../../../assets/images/component-reload/icon-meetup.png" alt="">
                    <h2>Eventos</h2>
                </div>
                <p>Um encontro com palestrantes de diversas áreas de tecnologia, que entregam e se integram todos os dias em diversos produtos e serviços. <font color="#7589FF"> Faça parte da comunidade.</font></p>
            </div>
        </div>
            <div class="divpodcast">
                <div class="flex">
                    <img class="icons-box" src="../../../assets/images/component-reload/icon-podcast.png" alt="">
                        <h2> Podcast</h2>
                </div>
                <p>Como um programa de rádio, porém o conteúdo é sob demanda e pode ser ouvido no momento em que o ouvinte quiser. O formato tem uma alta potência de comunicação, que pode levar informação, educação, entretenimento e mais, ou seja: não existe limite para a criatividade. <font color="#7589FF">Faça parte da comunidade.</font> </p>
            </div>
            <button class="btn2">Faça parte da comunidade <img src="../../../assets/images/arrow-right.svg" alt=""></button>
        </div>
    <img class="reload-img" src="../../../assets/images/Logo_one_color/RELOAD.. ..png" alt="">
</section>
