<section id="home">
    <div class="content">
        <h2 class="text-medium">
            CONECTANDO PESSOAS E TECNOLOGIAS
        </h2>
        <h1 class="text-large">
            TECH CONECTA
        </h1>
        <div class="purpose">
            <p>Nosso propósito é ser uma Jornada de Inovação e Empreendedorismo</p>
        </div>
        <button title="_" class="mouse-scroll" href="#reload" role="button">
          <techconecta-mouse-scroll></techconecta-mouse-scroll>
        </button>
        <img class="bg" src="../../../assets/images/background-image/bg2.svg" alt="">
        <img class="desktop" src="../../../assets/images/background-image/BG.png" alt="">
    </div>
</section>
