<div class="footer">
        <div class="flex">
            <img class="img1" src="../../../assets/images/Logo-TechConecta-Quadrado.png" alt="">
            <p class="devpp">TECH CONECTA</p>
                <p class="cod-conduct"><a href="code-of-conduct">Código de Conduta</a>                 
                    <img class="arrow1" src="../../../assets/images/Logo_one_color/blue/arrow-up.svg" alt="">
                </p>
        </div>
        <br>
        <div class="flex">
            <p class="community">Conectando pessoas e tecnologia através de networking.</p>
            <a href="#home"><img class="arrow2" src="../../../assets/images/Logo_one_color/blue/arrow-up.svg" alt=""></a>
            <p class="copyright">© TECH CONECTA 2023 / 2024. Todos os direitos reservados.</p>
        </div>
</div> 
