<section id="partners" class="partners">
    <div class="partners-container">
        <h1>NOSSOS PARCEIROS</h1>
        <div class="grid">
            <a href="https://www.thinkamconnect.com/"><div class="card thinkam">
                <img src="../../../assets/images/partnes/Logo_FundoBranco.jpg" alt="Think A.M.">
            </div></a>
            <a href="https://www.dsgnhouse.com.br/"><div class="card design house" >
                <img src="../../../assets/images/partnes/design-house.png" alt="Design House">
            </div></a>
            <a href="https://flutterando.com.br/#/"><div class="card flutterando">
                <img src="../../../assets/images/partnes/logo-flutterando.png" alt="Flutterando">
            </div></a>
            <a href="http://www.utfpr.edu.br/campus/campomourao"><div class="card utfpr">
                <img src="../../../assets/images/partnes/logoutfpr.png" alt="utfpr-cm">
            </div></a>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
        </div>
    </div>
    <div class="center">
        <button>Apoie a comunidade <img src="../../../assets/images/arrow-right.svg" alt=""></button>
    </div>
</section>
