<section id="partners" class="partners">
    <div class="partners-container">
        <h1>NOSSOS PARCEIROS</h1>
        <div class="grid">
            <div class="card thinkam">
                <img src="../../../assets/images/partnes/Logo_FundoBranco.jpg" alt="Think A.M.">
            </div>
            <div class="card design house" >
                <img src="../../../assets/images/partnes/design-house.png" alt="Design House">
            </div>
            <div class="card flutterando">
                <img src="../../../assets/images/partnes/logo-flutterando.png" alt="Flutterando">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
        </div>
    </div>
    <div class="center">
        <button>Apoie a comunidade <img src="../../../assets/images/arrow-right.svg" alt=""></button>
    </div>
</section>
